@import "tailwindcss";

@source "../../templates/**/*.html.twig";

@theme {
    /* Main Palette */
    --color-primary: var(--color-indigo-600);
    --color-primary-hover: var(--color-indigo-700);
    --color-dark: var(--color-slate-900);
    
    /* Background and Surface Colors */
    --color-app-bg: var(--color-gray-50);
    --color-card-border: var(--color-slate-200);
}

@layer base {
    body {
        @apply bg-app-bg text-dark antialiased;
    }
}